# Tijmen Verhoef, Amsterdam

# VSCode
.settings/
.vscode/
.classpath
.project

# JetBrains
.idea/

# C(++)
*.o
*.y
*.out

# C#
obj/

# Python
__pycache__/
venv/
*.pyc

# Gradle
.gradle/

# Django
*.log
*.pot
migrations/

# CMake
CMakeFiles/
CMakeCache.txt
*.cmake
*.tcl

# General
*.env
database.*
db.*
*.db

# build folders
bin/
build/

# OSX specific excludes
.DS_Store

# Project ignores
Makefile
